.container-a {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 400px;

  .name {
    margin-left: 100px;
    text-align: center;
    align-content: center;
    h1 {
      font-family: cursive;
      color: rgb(12, 13, 94);
    }
  }
  img {
    width: 80%;
  }
  .information {
    margin-left: 100px;
    text-align: center;
    align-content: center;
    h2 {
      font-size: x-large;
      font-family: cursive;
      color: rgb(6, 4, 136);
    }
    p {
      font-size: large;
      font-family: cursive;
      color: rgb(73, 85, 2);
    }
  }
}
